Repository transferwise/tw-tasks-executor, pull requests merged in 2020-11, with the labels that each got.

#70 Allowing most beans defined by auto configuration to be overridden.
  CHANGELOG.md
  gradle.properties
  tw-tasks-core-spring-boot-starter/src/main/java/com/transferwise/tasks/core/autoconfigure/ITwTasksDataSourceProvider.java
  tw-tasks-core-spring-boot-starter/src/main/java/com/transferwise/tasks/core/autoconfigure/TwTasksCoreAutoConfiguration.java
  tw-tasks-core-spring-boot-starter/src/main/java/com/transferwise/tasks/core/autoconfigure/TwTasksDataSourceProvider.java
  tw-tasks-incidents-spring-boot-starter/src/main/java/com/transferwise/tasks/ext/incidents/autoconfigure/TwTasksExtIncidentsAutoConfiguration.java
  tw-tasks-kafka-listener-spring-boot-starter/src/main/java/com/transferwise/tasks/ext/kafkalistener/autoconfigure/TwTasksExtKafkaListenerAutoConfiguration.java
  tw-tasks-kafka-publisher-spring-boot-starter/src/main/java/com/transferwise/tasks/ext/kafkapublisher/autoconfigure/TwTasksExtKafkaPublisherAutoConfiguration.java
  tw-tasks-management-spring-boot-starter/src/main/java/com/transferwise/tasks/ext/management/autoconfigure/TwTasksExtManagementAutoConfiguration.java
Labels: enhancement

#75 pass AdminClientConfig.client-id as empty so kafka will generate auto…
  CHANGELOG.md
  gradle.properties
  tw-tasks-core/src/main/java/com/transferwise/tasks/helpers/kafka/AdminClientTopicPartitionsManager.java
Labels: bug, change:standard

#76 remove the AdminClientTopicPartitionsManager
  CHANGELOG.md
  demoapp/src/main/resources/application.yml
  gradle.properties
  integration-tests/src/test/java/com/transferwise/tasks/helpers/TopicPartitionsManagerIntTest.java
  integration-tests/src/test/resources/config/application.yml
  tw-tasks-core-spring-boot-starter/src/main/java/com/transferwise/tasks/core/autoconfigure/TwTasksCoreAutoConfiguration.java
  tw-tasks-core/src/main/java/com/transferwise/tasks/TasksProperties.java
  tw-tasks-core/src/main/java/com/transferwise/tasks/helpers/kafka/AdminClientTopicPartitionsManager.java
  tw-tasks-core/src/main/java/com/transferwise/tasks/helpers/kafka/ITopicPartitionsManager.java
  tw-tasks-core/src/main/java/com/transferwise/tasks/helpers/kafka/NoOpTopicPartitionsManager.java
Labels: change:standard
